<!--   Templates allow us to separate the presentation layer from the business logic, making it easier to manage and maintain our web application.  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ⭐ Rendering HTML with Flask Templates </title>
</head>
<body>
    <!-- <h1>  Welcome to Our Flask App  </h1> -->

    <!--  Jinja2 Templating Engine  :-  1) Tool for dynamic HTML   2)  Embed python expresion   3)  Insert variables and logic 
          Using Variables in Templates :-  Render the 'name' variable inside the placeholder
    -->
    <h1> Welcome , {{ name }}</h1>
</body>
</html>